body {
    margin: 0px;
    .filter-container .filter {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;
        .options {
            &.hidden {
                display: none;
            }
            padding: 10px;
            background-color: white;
            .option.ms-Toggle {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                label {
                    margin-left: 5px;
                }
                button:focus {
                    outline: 1px solid black;
                }
            }
        }
    }
    #cy {
        height: 100%;
        width: 100%;
        background-color: black;
    }
    .element-info {
        position: absolute;
        bottom: 0px;
        right: 0px;
        max-height: 50vh;
        max-width: 300px;
        overflow: auto;
        background-color: white;
        > * {
            margin: 10px;
        }
        .node {
            button {
                margin: 0;
                padding: 0;
                background: none;
                border: none;
                display: block;
                &.hidden {
                    color: gray;
                    text-decoration: line-through;
                }
                &:hover {
                    cursor: pointer;
                    outline: 1px solid blue;
                }
                &:active {
                    outline: 1px solid black;
                }
            }
            .name {
                font-size: 1.1em;
                font-weight: bold;
            }
            .reference-group {
                h2 {
                    margin: 0;
                    font-size: 1em;
                }
                .references a {
                    display: block;
                }
            }
        }
        .edge {
            &> a {
                display: block;
            }
        }
    }
}