body {
    margin: 0px;
    #cy {
        width: 100%;
        height: 100vh;
        background-color: black;
    }
    .element-info {
        position: absolute;
        bottom: 0px;
        right: 0px;
        max-height: 300px;
        max-width: 300px;
        overflow: auto;
        .node, .edge {
            padding: 10px;
            background-color: white;
        }
        .node {
            .name {
                margin: 0;
                font-size: 1em;
            }
        }
        .edge {
            &> a {
                display: block;
            }
        }
    }

    .filter {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;
        .filter-options {
            padding: 10px;
            background-color: white;
        }
    }
}