$pan-color: white;
body {
    margin: 0px;
    .mouse-pan {
        position: absolute;
        min-width: 32px;
        min-height: 32px;
        opacity: 0;
        background-color: green;
        justify-content: center;
        display: flex;
        align-items: center;
        &:hover {
            opacity: 1;
        }
        &.top {
            right: 0;
            left: 0;
            top: 0; 
            background: linear-gradient(to top, transparent, $pan-color);
        }
        &.right {
            top: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(to right, transparent, $pan-color);
        }
        &.bottom {
            right: 0;
            left: 0;
            bottom: 0;
            background: linear-gradient(to bottom, transparent, $pan-color);
        }
        &.left {
            top: 0;
            bottom: 0;
            left: 0;
            background: linear-gradient(to left, transparent, $pan-color);
        }
        &.top-left {
            top: 0;
            left: 0;
            background: linear-gradient(to top left, transparent, $pan-color);
        }
        &.bottom-right {
            bottom: 0;
            right: 0;
            background: linear-gradient(to bottom right, transparent, $pan-color);
        }
        &.bottom-left {
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom left, transparent, $pan-color);
        }
    }
    .filter-container .filter {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 10px;
        .options {
            &.hidden {
                display: none;
            }
            padding: 10px;
            background-color: white;
            .option.ms-Toggle {
                display: flex;
                flex-direction: row-reverse;
                justify-content: flex-end;
                label {
                    margin-left: 5px;
                }
                button:focus {
                    outline: 1px solid black;
                }
            }
        }
    }
    #cy {
        height: 100%;
        width: 100%;
        background-color: black;
    }
    .search-container .search-graph {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: white;
        max-height: 50vh;
        button.toggle-search:focus {
            border: 1px solid orange;
        }
        .search-box .text-box {
            margin: 0px;
            width: 400px;
        }
        .search-results {
            max-height: calc(50vh - 32px);
            overflow-y: auto;
            .result-item {
                padding: 0 3px;
                cursor: pointer;
                &.focus {
                    background-color: skyblue;
                    outline: 1px solid black;
                }
                &:hover {
                    background-color: skyblue;
                }
            }
        }
    }
    .element-info {
        position: absolute;
        bottom: 0px;
        right: 0px;
        max-height: 50vh;
        max-width: 300px;
        overflow: auto;
        background-color: white;
        > * {
            margin: 10px;
        }
        .node {
            button {
                margin: 0;
                padding: 0;
                background: none;
                border: none;
                display: block;
                &.hidden {
                    color: gray;
                    text-decoration: line-through;
                }
                &:hover {
                    cursor: pointer;
                    outline: 1px solid blue;
                }
                &:active {
                    outline: 1px solid black;
                }
            }
            .name {
                font-size: 1.1em;
                font-weight: bold;
            }
            .reference-group {
                h2 {
                    margin: 0;
                    font-size: 1em;
                }
                .references a {
                    display: block;
                }
            }
        }
        .edge {
            &> a {
                display: block;
            }
        }
    }
}